---
wider: true
layout: default
---

<section class="category-group">
    <h2>Recent Blog Posts &nbsp; <small><a href="/category/Blog Post">View all blog posts <i class="fa fa-arrow-right"></i></a></small></h2>
    
    <hr class="mb-5" />
  
    {% for post in site.categories['Blog Post'] limit: 5 %}
      {% include post-teaser.html post=post %}
    {% endfor %}
  </section>

<section class="category-group">
  <h2>Recent Talks &nbsp; <small><a href="/category/Talk">View all talks <i class="fa fa-arrow-right"></i></a></small></h2>
  
  <hr class="mb-5" />

  {% for post in site.categories['Talk'] limit: 5 %}
    {% include post-teaser.html post=post %}
  {% endfor %}
</section>
    