---
---

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Lato, sans-serif;
  font-weight: 700;
  margin-top: 1em;

  a {
    color: #0056b3;
  }

  small {
    font-size: .6em;
  }
}

body {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  line-height: 1.8em;
}

img {
  max-width: 100%;
  margin-bottom: 2em;
}

img, iframe, twitter-widget {
  box-shadow: 0 0 0.5em #999;
}

.navbar {
  margin-bottom: 30px;
}

strong {
  color: #222;
}

pre.no-wrap code {
  word-wrap: normal;
  white-space: pre;
}

pre {
  position: relative;
  border: 0px;
  background-color: #282b2e;
  padding: 15px 20px;
  border-radius: 0px;
  line-height: 1.5em;
}

code {
  font-family: Hack, monospace;
}

.multi-column-code {
  margin-top: 20px;
  margin-bottom: 20px;
}

.multi-column-code pre {
  margin: 0;
}

pre[class*=language-] {
  padding-top: 45px;
}

@media (max-width: 768px) {
  pre {
    margin-left: -25px;
    margin-right: -25px;
  }
}

pre[class*=language-]:before {
    content: attr(data-title);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 5px 15px;
    text-align: right;
    font-family: arial;
    text-shadow: none;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    background: #114663;
    color: #fff;
}

.blog-list-entry {
  padding: 10px 0px;
  border-bottom: 1px solid #ccc;

  a {
    color: #07a9d9;
    display: block;

    &:hover {
      text-decoration: underline;
    }
  }

  &:last-child {
    border-bottom: 0px;
  }
}

.entry-meta {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-left: 0;
  border-right: 0;
  padding: .3em 1em;
  font-size: .8em;

  ul.list-inline {
    margin-bottom: 0; 

    li.list-inline-item:not(:last-child) {
      margin-right: 1.5em;
    }
  }
}

.entry-title {
  margin-bottom: .5em;
}

.entry-content {
  margin-top: 0;
}

.navbar>.container .navbar-brand {
  font-family: "Lato", sans-serif;
  margin-top: 0;
}

.post {
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 1px dashed #ccc;
}

.post-card-header {
  padding: 5px 15px;
  background: white;
  border: 1px solid #ddd;
}

.speakerdeck-embed-wrapper iframe {
  width: 100%;
  height: 100%;
}

.flexslider .slides {
  zoom: 1;
  border: 1px solid #333;
  margin-bottom: 10px;
  background-color: #333;
  color: white;
}

.flexslider .slides img {
  height: auto;
  width: 60%;
  float: left;
}

.flex-caption {
  padding: 15px;
}

ul.slides > li {
  display: flex !important;
  flex-direction: column;
  width: 100%;
}

.flex-image {
  flex-shrink: 1;
  background-color: white;
  img {
    margin-bottom: 0;
  }
}

.flexslider .flex-direction-nav a {
  height: 60px;
}

@media (max-width: 992px) {
  ul.slides > li {
    flex-direction: column;
  }
  .flex-image {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .flex-caption {
      display: block;
  }
}

.alert p:last-child {
  margin-bottom: 0;
}

twitter-widget, iframe {
  margin-bottom: 1em !important;
  margin-left: auto;
  margin-right: auto;
}

.comments iframe {
  box-shadow: none;
}
