    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

    {% if page.description %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@mikesir87" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ page.description | replace: '"', '\"' }}" />
    <meta name="twitter:image" content="{{ page.image | absolute_url }}" />
    {% endif %}
    <meta name="author" content="{{ site.name }}" />

    {% feed_meta %}

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}
