<article class="teaser-card card">
  {% if include.post.image != empty %}
    <a class="card-img-top image-link" href="{{ site.baseurl }}{{ include.post.url }}">
        <img src="{{ include.post.image }}" alt="{{ include.post.title }}" />
    </a>
  {% endif %}
  <a href="{{ site.baseurl }}{{ include.post.url }}">
    <div class="card-body">
      <h2 class="card-title entry-title">{{ include.post.title }}</h2>
      <div class="card-text excerpt">
        {{ include.post.excerpt }}
      </div>
    </div>
  </a>
  <footer class="card-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col date">
          <i class="fa fa-calendar"></i>&nbsp;{{ include.post.date | date: "%b %e, %Y" }}
        </div>
  
        <div class="col comments text-right">
          <i class="fa fa-comment-o"></i>&nbsp;<a href="{{ site.baseurl}}{{ include.post.url }}#disqus_thread" data-disqus-identifier="{{ include.post.uuid }}">0</a>
        </div>  
      </div>
    </div>
  </footer>
</article>
