a, #infinite-handle span, #secondary .widget .post-content a {color:#07a9d9;}
a:hover, a:active, #secondary .widget .post-content a:hover {color: #04456b;}h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .entry-title {color: #333333;}.navbar.navbar-default, .navbar-default .navbar-nav .open .dropdown-menu > li > a {background-color: #114663;}.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { color: #ffffff;}.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .entry-title a:hover {color: #ffffff;}.dropdown-menu {background-color: #ffffff;}.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .entry-title a:hover {
  color: #04456b;
}

#secondary .widget a {
    color: #444;
}

.tagcloud a {
  background-color: #BABABA;
}

.navbar > .container .navbar-brand {
  color: #fff;
}

body {
  font-size: 16px;
}

pre {
  margin: 15px 0px;
}

h2 {
  margin-top: 30px;
  margin-bottom: 15px;
}

.smaller-quotes blockquote {
  font-size: .8em;
  padding: 3px 12px;
  margin: 0 0 10px;
}