<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--<link rel="stylesheet" href="{{ site.baseurl }}/highlight/styles/default.css" />-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ site.baseurl }}/highlight/styles/obsidian.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.003/web/hack.min.css" integrity="sha256-K+LpHym56ZROKIlFAZUELs6Y5BxTKi3dZEJJKDgay6k=" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Raleway:400,600" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    {% for style in page.extra_styles %}
      <link rel="stylesheet" href="{{ style }}" />
    {% endfor %}
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
          <span class="navbar-brand mb-0 h1">mikesir87</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto ml-lg-5">
              <li class="nav-item">
                <a class="nav-link" href="https://mikesir87.io/">About Me</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://twitter.com/mikesir87/">Twitter</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="container main-content-area">
      <div class="row">
        {% if layout.wider or page.wider %}
        <div class="main-content-inner col-sm-12 col-lg-12">
        {% else %}
        <div class="main-content-inner col-sm-12 col-lg-8 offset-lg-2">
        {% endif %}
          <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
              {{ content }}
            </main>
          </div>
        </div>
      </div>
    </div>


    {% include analytics.html %}
    <script src="{{ site.baseurl }}/highlight/highlight.pack.js"></script>
    <script>hljs.configure({useBR:false});hljs.initHighlightingOnLoad();</script>
    <script id="dsq-count-scr" src="//mikesir87blog.disqus.com/count.js" async></script> 
    {% for script in page.extra_scripts %}
      <script src="{{ script }}" type="text/javascript"></script>
    {% endfor %}
  </body>
</html>
